.content-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #000000 !important;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, monospace;

  &__body {
    flex: 1;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
    max-height: calc(100vh - var(--header-height));
    background: #000000 !important;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    height: 100%;
    will-change: margin-left;
    transition: margin-left 200ms cubic-bezier(0.25, 0.1, 0.25, 1), 
                background-color 300ms ease-out;
    background: #000000 !important;
    
    &_withSidebar {
      margin-left: var(--menu-sidebar-width);
    }
  }
}