.hamburger {
  width: 16px;
  height: 12px;
  cursor: pointer;
  position: relative;
  display: inline-block;

  span {
    height: 1.5px;
    width: 100%;
    display: block;
    position: absolute;
    background-color: #6b7280 !important;
    border-radius: 1px;
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translate3d(0, -50%, 0);
      width: 75%;
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }

  &_animated span {
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  &:hover span {
    background-color: #8b5cf6 !important;

    &:nth-child(2) {
      width: 100%;
    }
  }

  &_opened span {
    background-color: #8b5cf6 !important;

    &:nth-child(1) {
      top: 5px;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
      width: 0;
      transform: translate3d(-100%, -50%, 0);
    }

    &:nth-child(3) {
      bottom: 5px;
      transform: rotate(-45deg);
    }
  }
}